<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-firebase" version="2.0.0"
xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android">
	<name>Google Firebase Plugin</name>

	<license>MIT</license>

	<engines>
		<engine name="cordova" version=">=3.2.0" />
	</engines>

	<platform name="android">
		<js-module name="FirebasePlugin" src="www/firebase.js">
			<clobbers target="FirebasePlugin" />
		</js-module>
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="FirebasePlugin">
				<param name="android-package" value="org.apache.cordova.firebase.FirebasePlugin" />
				<param name="onload" value="true" />
			</feature>
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/*">
				<permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" android:protectionLevel="signature"/>
				<uses-permission android:name="android.permission.INTERNET" />
				<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
				<uses-permission android:name="android.permission.WAKE_LOCK" />
				<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
				<uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService" />
      <meta-data android:name="firebase_messaging_auto_init_enabled" android:value="false" />
      <meta-data android:name="firebase_crashlytics_collection_enabled" android:value="false" />
      <meta-data android:name="firebase_performance_collection_enabled" android:value="false" />
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<service android:enabled="true" android:exported="true" android:name="org.apache.cordova.firebase.FirebasePluginMessagingService">
				<intent-filter>
					<action android:name="com.google.firebase.MESSAGING_EVENT"/>
					<action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
				</intent-filter>
			</service>
			<receiver android:name="org.apache.cordova.firebase.OnNotificationOpenReceiver"></receiver>
			<receiver android:name="org.apache.cordova.firebase.NotificationReceiver"></receiver>
			<activity android:name="org.apache.cordova.firebase.ReplyActivity"
				android:launchMode="singleInstance"
				android:theme="@android:style/Theme.Holo.Light.Dialog"></activity>
            <activity android:name="org.apache.cordova.firebase.IncomingCallActivity"
				android:excludeFromRecents="true"
			    android:noHistory="true"
                android:screenOrientation="sensorPortrait"
                android:taskAffinity="org.apache.cordova.firebase.INCOMING_CALL_AFFINITY"
                android:theme="@android:style/Theme.Holo.NoActionBar" />
		</config-file>
		<resource-file src="src/android/google-services.json" target="."/>
		<resource-file src="src/android/cordova-plugin-firebase-strings.xml" target="res/values/cordova-plugin-firebase-strings.xml" />
		<resource-file src="src/android/cordova-plugin-firebase-strings-de.xml" target="res/values-de/cordova-plugin-firebase-strings.xml" />
		<resource-file src="src/android/cordova-plugin-firebase-strings-fr.xml" target="res/values-fr/cordova-plugin-firebase-strings.xml" />
		<resource-file src="src/android/incoming_call.mp3" target="res/raw/incoming_call.mp3" />
		<resource-file src="src/android/res/drawable/ic_call_end.xml" target="res/drawable/ic_call_end.xml" />
		<resource-file src="src/android/res/drawable/ic_call_start.xml" target="res/drawable/ic_call_start.xml" />
		<resource-file src="src/android/res/drawable/selector_call_end.xml" target="res/drawable/selector_call_end.xml" />
		<resource-file src="src/android/res/drawable/selector_call_start.xml" target="res/drawable/selector_call_start.xml" />
		<resource-file src="src/android/res/drawable/shape_oval_green.xml" target="res/drawable/shape_oval_green.xml" />
		<resource-file src="src/android/res/drawable/shape_oval_red.xml" target="res/drawable/shape_oval_red.xml" />
		<resource-file src="src/android/res/drawable/shape_oval_white_red.xml" target="res/drawable/shape_oval_white_red.xml" />
		<resource-file src="src/android/res/drawable/shape_oval_white_green.xml" target="res/drawable/shape_oval_white_green.xml" />
		<resource-file src="src/android/res/drawable-nodpi/call_background.png" target="res/drawable-nodpi/call_background.png" />
		<resource-file src="src/android/res/drawable-nodpi/vnc_icon_circle.png" target="res/drawable-nodpi/vnc_icon_circle.png" />
		<source-file src="src/android/reply_activity.xml" target-dir="res/layout" />
		<source-file src="src/android/ReplyActivity.java" target-dir="src/org/apache/cordova/firebase" />
		<source-file src="src/android/res/layout/activity_incoming_call.xml" target-dir="res/layout" />
		<source-file src="src/android/IncomingCallActivity.java" target-dir="src/org/apache/cordova/firebase" />
		<source-file src="src/android/OnNotificationOpenReceiver.java" target-dir="src/org/apache/cordova/firebase" />
		<source-file src="src/android/NotificationReceiver.java" target-dir="src/org/apache/cordova/firebase" />
		<source-file src="src/android/FirebasePluginMessagingService.java" target-dir="src/org/apache/cordova/firebase" />
		<source-file src="src/android/FirebasePluginMessageReceiverManager.java" target-dir="src/org/apache/cordova/firebase" />
		<source-file src="src/android/FirebasePluginMessageReceiver.java" target-dir="src/org/apache/cordova/firebase" />
		<source-file src="src/android/FirebasePlugin.java" target-dir="src/org/apache/cordova/firebase" />
		<source-file src="src/android/PayloadProcessor.java" target-dir="src/org/apache/cordova/firebase" />

		<source-file src="src/android/utils/FileUtils.java" target-dir="src/org/apache/cordova/firebase/utils" />
		<source-file src="src/android/utils/Logger.java" target-dir="src/org/apache/cordova/firebase/utils" />
		<source-file src="src/android/utils/NotificationUtils.java" target-dir="src/org/apache/cordova/firebase/utils" />
		<source-file src="src/android/utils/SharedPrefsUtils.java" target-dir="src/org/apache/cordova/firebase/utils" />
		<source-file src="src/android/utils/StringUtils.java" target-dir="src/org/apache/cordova/firebase/utils" />
		<source-file src="src/android/utils/WidgetNotifier.java" target-dir="src/org/apache/cordova/firebase/utils" />
		<source-file src="src/android/utils/ImagesUtils.java" target-dir="src/org/apache/cordova/firebase/utils" />
		<source-file src="src/android/utils/FcmLoggerUtils.java" target-dir="src/org/apache/cordova/firebase/utils" />
		<source-file src="src/android/utils/DateUtils.java" target-dir="src/org/apache/cordova/firebase/utils" />

		<source-file src="src/android/notification/NotificationCreator.java" target-dir="src/org/apache/cordova/firebase/notification" />
		<source-file src="src/android/notification/NotificationManager.java" target-dir="src/org/apache/cordova/firebase/notification" />

		<source-file src="src/android/models/PayloadCalendar.java" target-dir="src/org/apache/cordova/firebase/models" />
		<source-file src="src/android/models/PayloadTalk.java" target-dir="src/org/apache/cordova/firebase/models" />
		<source-file src="src/android/models/PayloadTask.java" target-dir="src/org/apache/cordova/firebase/models" />
		<source-file src="src/android/models/PayloadMail.java" target-dir="src/org/apache/cordova/firebase/models" />
		<source-file src="src/android/models/MailInfoItem.java" target-dir="src/org/apache/cordova/firebase/models" />

		<source-file src="src/android/actions/BaseAction.java" target-dir="src/org/apache/cordova/firebase/actions" />
		<source-file src="src/android/actions/BaseActionMail.java" target-dir="src/org/apache/cordova/firebase/actions" />
		<source-file src="src/android/actions/BaseActionTalk.java" target-dir="src/org/apache/cordova/firebase/actions" />
		<source-file src="src/android/actions/BaseActionTask.java" target-dir="src/org/apache/cordova/firebase/actions" />
		<source-file src="src/android/actions/BaseActionCalendar.java" target-dir="src/org/apache/cordova/firebase/actions" />
		<source-file src="src/android/actions/InlineReplyAction.java" target-dir="src/org/apache/cordova/firebase/actions" />
		<source-file src="src/android/actions/MarkAsReadAction.java" target-dir="src/org/apache/cordova/firebase/actions" />
		<source-file src="src/android/actions/SnoozeAction.java" target-dir="src/org/apache/cordova/firebase/actions" />
		<source-file src="src/android/actions/MailOptionsAction.java" target-dir="src/org/apache/cordova/firebase/actions" />
		<source-file src="src/android/actions/MailReplyAction.java" target-dir="src/org/apache/cordova/firebase/actions" />
		<source-file src="src/android/actions/RejectCallAction.java" target-dir="src/org/apache/cordova/firebase/actions" />
        <source-file src="src/android/actions/LogFCMPluginAction.java" target-dir="src/org/apache/cordova/firebase/actions" />
        <source-file src="src/android/actions/CalendarOptionsAction.java" target-dir="src/org/apache/cordova/firebase/actions" />

		<framework src="src/android/build.gradle" custom="true" type="gradleReference" />
		<framework src="com.google.android.gms:play-services-tagmanager:17.0.0" />
		<framework src="com.google.firebase:firebase-core:17.5.0" />
		<framework src="com.google.firebase:firebase-messaging:20.3.0" />
		<framework src="com.google.firebase:firebase-config:19.2.0" />
		<framework src="com.google.firebase:firebase-perf:19.0.9" />

	</platform>

	<platform name="ios">
		<js-module name="FirebasePlugin" src="www/firebase.js">
			<clobbers target="FirebasePlugin" />
		</js-module>
		<config-file parent="/*" target="config.xml">
			<feature name="FirebasePlugin">
				<param name="ios-package" value="FirebasePlugin" />
				<param name="onload" value="true" />
			</feature>
		</config-file>
		<config-file parent="aps-environment" target="*/Entitlements-Debug.plist">
		    <string>development</string>
		</config-file>
		<config-file parent="aps-environment" target="*/Entitlements-Release.plist">
			<string>production</string>
		</config-file>
    <config-file parent="FirebaseMessagingAutoInitEnabled" target="*-Info.plist">
      <string>no</string>
    </config-file>
    <config-file parent="firebase_performance_collection_enabled" target="*-Info.plist">
      <false />
    </config-file>
    <config-file parent="firebase_crashlytics_collection_enabled" target="*-Info.plist">
      <false />
    </config-file>

		<resource-file src="src/ios/GoogleService-Info.plist" />

		<header-file src="src/ios/AppDelegate+FirebasePlugin.h" />
		<source-file src="src/ios/AppDelegate+FirebasePlugin.m" />
		<header-file src="src/ios/FirebasePlugin.h" />
		<source-file src="src/ios/FirebasePlugin.m" />
		<header-file src="src/ios/FirebaseActionsManager.h" />
		<source-file src="src/ios/FirebaseActionsManager.m" />

		<header-file src="src/ios/Firebase/Firebase.h" />

		<!-- <framework custom="true" src="src/ios/Crashlytics/Crashlytics.framework" /> -->
		<!-- <framework custom="true" src="src/ios/Crashlytics/Fabric.framework" /> -->
		<!-- <framework custom="true" src="src/ios/Firebase/Analytics/GoogleAppMeasurement.framework" /> -->
		<!-- <framework custom="true" src="src/ios/Firebase/Analytics/MeasurementNanoPB.framework" /> -->
		<framework custom="true" src="src/ios/Firebase/Analytics/FirebaseCore.framework" />
		<!-- <framework custom="true" src="src/ios/Firebase/Analytics/FirebaseAnalytics.framework" /> -->
		<framework custom="true" src="src/ios/Firebase/Analytics/GoogleUtilities.framework" />
		<!-- <framework custom="true" src="src/ios/Firebase/Analytics/nanopb.framework" /> -->
		<framework custom="true" src="src/ios/Firebase/Analytics/FirebaseInstanceID.framework" />
		<!-- <framework custom="true" src="src/ios/Firebase/Analytics/FirebaseCoreDiagnostics.framework" /> -->
		<framework custom="true" src="src/ios/Firebase/Auth/GTMSessionFetcher.framework" />
		<!-- <framework custom="true" src="src/ios/Firebase/Auth/FirebaseAuth.framework" /> -->
		<framework custom="true" src="src/ios/Firebase/Messaging/FirebaseMessaging.framework" />
		<!-- <framework custom="true" src="src/ios/Firebase/Performance/GoogleToolboxForMac.framework" /> -->
		<!-- <framework custom="true" src="src/ios/Firebase/Performance/FirebasePerformance.framework" /> -->
		<framework custom="true" src="src/ios/Firebase/RemoteConfig/Protobuf.framework" />
		<framework custom="true" src="src/ios/Firebase/RemoteConfig/FirebaseRemoteConfig.framework" />
		<framework custom="true" src="src/ios/Firebase/RemoteConfig/FirebaseABTesting.framework" />
	</platform>

	<platform name="browser">
		<js-module name="FirebasePlugin" src="www/firebase-browser.js">
			<clobbers target="FirebasePlugin" />
		</js-module>
	</platform>

	<hook src="scripts/after_prepare.js" type="after_prepare" />
	<hook src="scripts/after_plugin_add.js" type="after_plugin_add" />
	<hook src="scripts/before_plugin_rm.js" type="before_plugin_rm" />
</plugin>
